<h1>⭐️使用说明</h1>

<h2>- 日期格式化</h2>
<pre>
script[src="./utils.js"] 

var result = dateFormat("2021-12-02 19:41:01")
document.write(result)
</pre>


<h2>- 判断浏览器内核</h2> 
<pre>
script[src="./utils.js"] 

console.log(browserData())
</pre>


<h2>- 判断是否是移动端</h2>
<pre>
script[src="./utils.js"] 
    
console.log(isM())
</pre>

<h2>- 判断是否是微信浏览器</h2>
<pre>
script[src="./utils.js"] 
    
console.log(isWx())
</pre>

<h2>- 图片懒加载</h2>
<pre>
script[src="./utils.js"] 

p*5>img[src="./imgs/loading.gif" height="500" data-original="./imgs/$.jpg"]
</pre>